---
import tags from "@components/tags"
import MainHead from "@components/MainHead.astro"
import Footer from "@components/Footer.svelte"
import Nav from "@components/Nav.svelte"
import PortfolioPreview from "@components/PortfolioPreview.svelte"

export const getStaticPaths = () => {
  let paths = []
  tags.forEach((t) => {
    paths.push({ params: { tag: t } })
  })

  return paths
}

const { tag } = Astro.params

const projects = (await Astro.glob<Frontmatter>("../project/**/*.md"))
  .filter(({ frontmatter }) => frontmatter.tags.some((t) => t === tag))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
---

<html lang="en">
  <head>
    <MainHead
      title={"All " + tag + " projects | Rishab Garg"}
      description={"All of my " + tag + " projects"}
    />
  </head>

  <body>
    <Nav />
    <div class="max-w-[85vw] mx-auto px-8">
      <h1 class="text-4xl my-8">
        All
        <span
          class="text-dark-yellow hover:text-magenta transition hover:cursor-pointer"
        >
          {tag}
        </span>
        projects
      </h1>
      <div class="grid gap-12 xl:grid-cols-2">
        {projects.map((p) => <PortfolioPreview project={p} />)}
      </div>
    </div>
    <Footer />
  </body>
</html>
