---
import tags from "../../components/tags"
import PortfolioPreview from "../../components/PortfolioPreview.svelte"
import Page from "../../layouts/page.astro"

type path = { params: { tag: string } }

export const getStaticPaths = () => {
  let paths: path[] = []
  tags.forEach((t) => {
    paths.push({ params: { tag: t } })
  })

  return paths
}

const { tag } = Astro.params

const projects = (await Astro.glob<Frontmatter>("../project/**/*.mdx"))
  .filter(
    ({ frontmatter }) =>
      frontmatter.tags.some((t) => t === tag) && !frontmatter.draft
  )
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
---

<Page
  title={'All "' + tag + '" projects | Rishab Garg'}
  description={"My portfolio filtered by tags"}
>
  <h1 class="text-4xl mb-6">
    All
    <span class="text-dark-yellow">
      {tag}
    </span>
    projects
  </h1>
  <div class="grid gap-12 xl:grid-cols-2">
    {projects.map((p) => <PortfolioPreview project={p} />)}
  </div>
</Page>
