---
import Page from "../layouts/page.astro"
---

<Page title="Not Found | Rishab Garg" description="Page not found">
  <h1 class="text-4xl font-extrabold mb-6">Page Not Found</h1>
  <p>Looks like you hit a 404.</p>
</Page>
