---
import Page from "../layouts/page.astro"
---

<Page title="Not Found | Rishab Garg" description="Page not found">
  <header class="relative overflow-hidden">
    <h1 class="text-4xl mb-6 font-extrabold">Page not found</h1>
  </header>
  <p>Looks like you hit a 404.</p>
</Page>
