---
import MainHead from "@components/MainHead.astro"
import Footer from "@components/Footer.svelte"
import Nav from "@components/Nav.svelte"
---

<html lang="en">
  <head>
    <MainHead title="Not Found | Rishab Garg" />
  </head>

  <body>
    <Nav />
    <div class="max-w-[85vw] mx-auto px-8 my-8">
      <h1 class="text-4xl mb-8">Page Not Found</h1>
      <p>Not found</p>
    </div>
    <Footer />
  </body>
</html>
