---
import Page from "@layouts/page.astro"
---

<Page title="About | Rishab Garg" description="More information about me">
  <header class="relative overflow-hidden">
    <h1 class="text-4xl mb-6 font-extrabold">About me</h1>
  </header>

  <div class="text-lg">
    <p>I'm Rishab, and this is my website. (WIP)</p>
  </div>
</Page>
