---
import Page from "../layouts/page.astro"
---

<Page title="About | Rishab Garg" description="More information about me">
  <h1 class="text-4xl mb-6">About me</h1>
  <div class="text-lg">
    <p>I'm Rishab, and this is my website. (WIP)</p>
  </div>
</Page>
