---
import MainHead from "../components/MainHead.astro"
import Footer from "../components/Footer.svelte"
import Nav from "../components/Nav.svelte"
---

<html lang="en">
  <head>
    <MainHead
      title="About | Rishab Garg"
      description="More information about me"
    />
  </head>

  <body>
    <Nav />
    <div class="lg:max-w-[50vw] max-w-[70vw] mx-auto">
      <h1 class="text-4xl mb-8">About me</h1>
      <div class="text-lg">
        <p>I'm Rishab, and this is my website. (WIP)</p>
      </div>
    </div>
    <Footer />
  </body>
</html>
