---
import Page from "@layouts/page.astro"
import Button from "@components/Button.astro"
import Twitter from "../components/icons/Twitter.astro"
---

<Page>
  <header class="relative overflow-hidden">
    <h1 class="mb-6 mt-20 text-3xl font-medium">Rishab Garg</h1>
    <p class="leading-loose text-xl mt-6">
      I am a student in sixth form doing my A-levels in Germany. I am a hobby
      programmer and am focussing on web-based and machine learning projects
      right now.
    </p>
    <Button><Twitter /> Twitter</Button>
  </header>

  <main class="mt-6">
    <h2 class="text-xl mt-16 mb-8">Latest Projects</h2>
    <div class="mt-8 text-center lg:text-left">
      <a href="/projects" rel="prefetch">
        <Button>View All</Button>
      </a>
    </div>
  </main>
</Page>
