---
import MainHead from "@components/MainHead.astro"
import Button from "@components/Button.svelte"
import Nav from "@components/Nav.svelte"
import Footer from "@components/Footer.svelte"
import PortfolioPreview from "@components/PortfolioPreview.svelte"

// Data Fetching: List all Markdown posts in the repo.
const articles = await Astro.glob("./blog/**/*.md")
const featuredArticle = articles[0]

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead />
  </head>

  <body>
    <Nav />
    <header>
      <h1 class="text-5xl text-light-red">Rishab Garg</h1>
    </header>

    <main class="">
      <div class="grid grid-cols-3 gap-12">
        <div class="">
          <h3 class="text-2xl text-center">About me</h3>
          <p class="text-light-red">Hi I am Rishab</p>
        </div>
        <div class="col-span-2">
          <h3 class="text-2xl text-center">Blog articles</h3>
          <PortfolioPreview article={featuredArticle} />
          <a href="/blog">
            <Button>View All</Button>
          </a>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
