---
// Component Imports
import Button from "../components/Button.svelte"
import PortfolioPreview from "../components/PortfolioPreview.svelte"
import Page from "../layouts/page.astro"

const project = (await Astro.glob<Frontmatter>("./project/**/*.mdx"))
  .filter(
    ({ frontmatter }) => Boolean(frontmatter.publishDate) && !frontmatter.draft
  )
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )[0]

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Page>
  <header class="relative overflow-hidden">
    <h1 class="font-medium mb-6 text-4xl">Rishab Garg</h1>
    <div>
      <span
        class="relative inline-block font-bold text-dark-yellow bg-gutter-grey py-1 px-2 rounded md:text-lg"
        >👩‍💻 Developer
      </span>
      <span
        class="relative inline-block font-bold text-dark-yellow bg-gutter-grey py-1 px-2 rounded ml-2 md:text-lg"
        >🎓 Student
      </span>
      <p class="text-xl mt-6 mb-0">Hobby programmer and high school student</p>
    </div>
  </header>

  <main class="my-6">
    <div class="grid gap-x-20 lg:grid-cols-2">
      <div class="section">
        <h2 class="font-medium text-3xl mt-16 mb-8">Latest Project</h2>
        <PortfolioPreview client:only project={project} />
        <div class="mt-8 text-center lg:text-left">
          <a href="/projects">
            <Button>View All</Button>
          </a>
        </div>
      </div>
      <div class="section">
        <h2 class="font-medium text-3xl mt-16 mb-8">About me</h2>
        <p class="leading-loose mb-4 text-lg">
          Hello! <br />
          My name is Rishab Garg and I am a student in sixth form doing my A-levels
          in Germany. I am a hobby programmer and am focussing on web-based and machine
          learning projects right now.
        </p><div class="mt-8 text-center lg:text-left">
          <a href="/about">
            <Button>Read more</Button>
          </a>
        </div>
      </div>
    </div>
  </main>
</Page>
