---
import MainHead from "../components/MainHead.astro"
import Footer from "../components/Footer.svelte"
import Nav from "../components/Nav.svelte"
import PortfolioPreview from "../components/PortfolioPreview.svelte"

const projects = (await Astro.glob<Frontmatter>("./project/**/*.md"))
  .filter(({ frontmatter }) => Boolean(frontmatter.publishDate))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
---

<html lang="en">
  <head>
    <MainHead title="All Projects | Rishab Garg" description="My portfolio" />
  </head>

  <body>
    <Nav />
    <div class="lg:max-w-[50vw] max-w-[70vw] mx-auto">
      <h1 class="text-4xl mb-8">All Projects</h1>
      <div class="grid gap-12 xl:grid-cols-2">
        {projects.map((p) => <PortfolioPreview project={p} />)}
      </div>
    </div>
    <Footer />
  </body>
</html>
