---
import PortfolioPreview from "../components/PortfolioPreview.svelte"
import Page from "../layouts/page.astro"

const projects = (await Astro.glob<Frontmatter>("./project/**/*.mdx"))
  .filter(
    ({ frontmatter }) => Boolean(frontmatter.publishDate) && !frontmatter.draft
  )
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  )
---

<Page title="All Projects | Rishab Garg" description="My portfolio">
  <h1 class="text-4xl mb-6">All Projects</h1>
  <div class="grid gap-12 xl:grid-cols-2">
    {projects.map((p) => <PortfolioPreview project={p} />)}
  </div>
</Page>
