---
import { getCollection } from "astro:content"

import Page from "../layouts/page.astro"

import PortfolioPreview from "../components/PortfolioPreview.astro"

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)
---

<Page title="All Projects | Rishab Garg" description="My portfolio">
  <header class="relative overflow-hidden">
    <h1 class="text-4xl mb-6 font-extrabold">All Projects</h1>
  </header>

  <div class="grid gap-12 xl:grid-cols-2">
    {projects.map((p) => <PortfolioPreview project={p} />)}
  </div>
</Page>
