<!-- <button
  class="py-2 px-4 transition rounded-lg border-solid border-2 border-dark-yellow hover:bg-dark-yellow focus:ring-2 focus:ring-dark-yellow focus:outline-none text-dark-yellow hover:text-black font-medium text-center"
>
  <slot />
</button> -->
<button
  class="rounded border border-solid px-3 py-1.5
   border-neutral-700 bg-neutral-800 hover:bg-neutral-700 transition duration-300"
>
  <slot />
</button>
